@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

a{
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.orange{
    color: #FF4D01;
}

.getaquote{
    color: white;
    background: #FF4D01;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 27px 38px;
}

.ourservices{
    color: black;
    padding: 27px 38px;
    border: 1px black solid;
}

.container{
    max-width: 1148px;
    width: 100%;
    margin: 0 auto;
}

.header{
    position: relative;
    padding: 32px 0 955px;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/IMAGE (2).png") no-repeat center;
    background-size: cover;
}

.header a{
    color: white;
}

.header__nav {
    display: flex;
    justify-content: end;
    gap: 24px;
}

.header__nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__text .ourservices{
    padding: 27px 38px;
    border: 1px white solid;
}

.header__text{
    position: relative;
    max-width: 660px;
    margin: 0 auto;
    padding-top: 166px;
}

.header__text h1{
    margin-bottom: 40px;
    font-size: 72px;

}

.header__text p{
    margin-bottom: 80px;
    font-size: 18px;
}

.header__text .buttons{
    margin-left: 132px;
    display: flex;
    align-items: center;
    height: 75px;
    gap: 55px;
}

.main{
    margin-top: 144px;
}

.main__main{
    display: flex;
    align-items: center;
    gap: 74px;
}

.main__main-image{
    width: 479px;
    height: 682px;
}

.main__main-aboutus{

}

.main__main-aboutus h1{
    margin-top: 15px;
    font-size: 54px;
}

.main__main-aboutus p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
}

.main__main-aboutus .chooseus__chooseus-why-info{
    margin-top: 20px;
}

.main__main-aboutus-numbers{
    margin-top: 57px;
    display: flex;
    align-items: center;
    gap: 86px;
}

.main__main-aboutus .button{
    margin-top: 48px;
}

.main__main-aboutus .button a{
    color: black;
}

.services{
    margin-top: 300px;
    margin-bottom: 300px;
}

.services__services-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__services-text h1{
    font-size: 54px;
    width: 416px;
}

.services__blocks{
    margin-top: 64px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.services__block{
    width: 296px;
}

.services__block h3{
    margin-top: 32px;
    font-size: 34px;
}

.services__block p{
    margin-top: 14px;
    font-size: 18px;
}

.ad{
    position: relative;
    background: url("../assets/metal.png") no-repeat center;
    background-size: cover;
    padding: 300px 0 545px;
}

.ad_ad{
    max-width: 610px;
}

.ad_ad h1{
    font-size: 54px;
}

.ad_ad p{
    margin-top: 20px;
    font-size: 18px;
}

.ad_ad .buttons{
    margin-top: 45px;
}

.chooseus{
    margin-top: 300px;
}

.chooseus__chooseus-why{
    display: flex;
    align-items: center;
    gap: 82px;
}

.chooseus__chooseus-why img{
    width: 534px;
}

.chooseus__chooseus-why-info{
    display: block;
    gap: 20px;
}

.past{
    margin-top: 300px;
}

.past .services__services-text h1{
    font-size: 54px;
    width: 602px;
}

.past .services__block{
    width: 545px;
}

.past-image-1{
    position: relative;
    background: url("../assets/flat.png") no-repeat center;
    padding: 305px 0 305px 0;
    color: white;
}

.past-image-2{
    background: url("../assets/flattwo.png") no-repeat center;
    padding: 305px 0 305px 0;
    color: white;
}

.past .services__block h3{
    margin-top: 32px;
    font-size: 34px;
    width: 361px;
}

.past .services__block p{
    margin-top: 14px;
    font-size: 18px;
    max-width: 447px;
}

.past .buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.testimonials{
    margin-top: 240px;
}

.testimonials .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonials .services__services-text h1{
    font-size: 54px;
    width: 530px;
}

.testimonials-info{
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}

.testimonials__testimonial{
    display: flex;
    align-items: center;
    gap: 38px;
}

.testimonials__testimonial .main__main-aboutus{
    width: 360px;
}

.testimonials__testimonial p{
    width: 360px;
}

.testimonials__testimonial-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog{
    margin-top: 200px;
}

.blog__blog{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 67px;
}

.blog__blog-text{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}

.footer{
    margin-top: 200px;
    background: black;
    color: white;
    padding: 150px;

}

.footer a{
    color: white;
}

.footer__footer{
    display: flex;
    align-items: center;
    gap: 60px;
}

.elit{
    width: 210px;
}

.elit-buttons{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 35px;
}

.elit-buttons ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 28px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact .ourservices{
    padding: 27px 38px;
    border: 1px #FF4D01 solid;
}

