@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/UF1.ttf);
}

@font-face {
    font-family: Usually-font;
    src: url(../fonts/Usually-font.otf);
}

@font-face {
    font-family: Usually-font-Bold;
    src: url(../fonts/Usually-font-Bold.otf);
}

.three{
    display: none;
}

.button{
    font-family: Rosario, serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    width: 205px;
    height: 53px;
    top: 829px;
    left: 1472px;
    border-radius: 50px;
    color: rgba(209, 193, 43, 1);
    border: 2px solid rgba(209, 193, 43, 1);
    text-transform: uppercase;
    padding: 10px;
    gap: 10px;

}

body{
    background: rgba(14, 20, 28, 1);
    font-family: myFirstFont, serif;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

#color{
    color: rgba(209, 193, 43, 1);
}

.container{
    max-width: 1568px;
    width: 100%;
    margin: 0 auto;
}

.header__header{
    display: flex;
    flex-direction: column;
}

.header-line{
    padding-top: 43px;
    margin-left: 104px;
    display: flex;
    align-items: center;
    gap: 57px;
}

.header-type{
    margin-top: 29px;
    margin-left: 225px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-type ul{
    display: flex;
    align-items: center;
    gap: 68px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 560px;
    text-transform: uppercase;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 46px;
}

.nav-item{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
}


.header-links{
    display: flex;
    align-items: center;
}

.every-day .header-links{
    display: none;
}

.day-texts{
    position: relative;
}

.every-day{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-logo{
    text-align: center;
    margin-top: 135px;
    width: 209.94px;
    height: 49.94px;
    top: 263px;
    left: 912px;

}

.day-texts {
    position: relative;
    display: inline-block;
}

.day-text-bg{
    font-family: Usually-font-Bold, serif;
    position: absolute;
    z-index: 1;
    font-size: 170px;
    color: rgba(31, 37, 45, 1);
    font-weight: 700;
    line-height: 148px;
    text-align: center;
}

.day-text{
    font-family: Usually-font-Bold, serif;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    font-size: 130px;
    font-weight: 700;
    line-height: 113px;
    text-align: center;
}

.every-day-text{
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin-top: 70px;
}

.buttons{
    margin-top: 163px;
}

.this-season{
    margin-top: 286px;
    display: flex;
    flex-direction: column;
}

.season-texts{
    position: relative;
    display: flex;
    align-items: center;
    width: 1568px;
    height: 160px;
    margin: 0 auto;
}

.season-text-bg{
    font-family: Usually-font-Bold, serif;
    position: absolute;
    z-index: 1;
    font-size: 140px;
    font-weight: 700;
    line-height: 160px;
    text-align: center;
    color: rgba(31, 37, 45, 1);
    margin: auto auto;

}

.season-text{
    font-family: myFirstFont, serif;
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}


.glow-button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 18px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #FFD700;
    background-color: transparent;
    border: 2px solid #FFD700;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-left: 1150px;
}

.glow-button:hover {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 40px rgba(255, 215, 0, 0.6);
    transform: scale(1.05);
}

.glow-button .icon {
    margin-right: 10px;
    font-size: 20px;
}

.glow-button:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.img_component{
    position: relative;
}

.post {
    display: block;
    margin-left: 395px;
    width: 1248px;
    height: 587px;
    top: 60px;

}
.post{
    position: relative;
}

.body_text_component {
    position: absolute;
    top: 60px;
    left: 20px;
    color: #fff;
    max-width: 80%;
}

.text_2{
    width: 300px;
    margin-left: 1190px;
    margin-top: 290px;
    height: 45px;
    top: 272px;
    left: 1167px;
    font-family: myFirstFont, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.glow-button_2 {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    top: 16px;
    left: 1260px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #FFD700;
    background-color: transparent;
    border: 2px solid #FFD700;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.glow-button_2:hover {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 0 40px rgba(255, 215, 0, 0.6);
    transform: scale(1.05);
}

.glow-button_2 .icon {
    margin-right: 10px;
    font-size: 20px;
}

.arrow_component{
    flex-wrap: nowrap;
    font-size: 10px;
}

.arrow{
    position: absolute;
    width: 209px;
    top: 524px;
    left: 374px;
    border: 3px;
    z-index: 1;
    font-size: 34px;
    font-weight: 400;
}

.arrow_2{
    position: absolute;


    width: 209px;
    top: 537px;
    left: 589px;
    border: 3px;
    z-index: 1;
    font-size: 34px;
    font-weight: 400;
}

.line{
    display: flex;
    position: absolute;

    top: 570px;
    left: 559px;
    border: 3px;
    z-index: 1;
    font-size: 34px;
    font-weight: 400;
}

.actual{
    margin-top: 100px;
}

.actual .season-text-bg{
    font-family: Usually-font-Bold, serif;
    position: absolute;
    z-index: 1;
    font-weight: 700;
    line-height: 160px;
    color: rgba(31, 37, 45, 1);
    margin: auto auto;

    font-size: 160px;
    text-align: right;


}

.actual .season-text{
    font-family: myFirstFont, serif;
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: right;
    margin-left: 890px;
}

.img_catalog{
    display: flex;
    margin: 60px 320px;
    gap:50px
}

.img_catalog .block1 img{
    border-radius: 10px 10px 0 0;
}

.img_catalog .block1 .block-els{
    width: 272px;
    left: 9px;
    border-radius: 10px 0 0 0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
}

.img_catalog .block1 .block-els .block1_text{
    width: 193px;
    height: 40px;
    font-family: myFirstFont, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-bottom: 14px;

}
.img_catalog .block1 .block-els .block_low{
    display: flex;
    width: 272px;
    height: 20px;
    top: 433px;
    gap: 67px;
}

.img_catalog .block1 .block-els .block_low .block_price{


    font-family: myFirstFont, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.img_catalog .block1 .block-els .block_low .block_trash{
    font-family: myFirstFont, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    transition: 1s ease-in;
    text-decoration: underline;
}

.img_catalog .block1 .block-els .block_low .block_trash:hover{
    text-decoration: underline;

}

.next_check{
    font-family: myFirstFont, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    text-decoration: underline;
    padding: 55px 290px 50px 0;
}


.location{
    width: 1568px;
    height: 754px;
    top: 2838px;
    left: 176px;
}

.location .season-texts{
    position: relative;
    display: flex;
    align-items: center;
    width: 1568px;
    height: 160px;
    margin-left: 176px;
}

.location .season-text-bg{
    font-family: Usually-font-Bold, serif;
    position: absolute;
    z-index: 1;
    color: rgba(31, 37, 45, 1);
    margin: auto auto;

    font-size: 180px;
    font-weight: 700;
    line-height: 160px;
    text-align: left;

}

.location .season-text{
    font-family: myFirstFont, serif;
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    margin-top: 1px;

    text-align: left;

}

.location_main{
    margin: 0 182px;
    display: flex;
    gap: 148px;
}
.location_main img{
    width: 1006px;
    height: 549px;
    top: 205px;
    left: 6px;
}

.location_text{
    margin: auto auto;
    row-gap: 25px;

}

.location_text .location_text1{
    width: 258.22px;
    height: 25px;
    top: 422px;
    left: 1178px;
    font-family: myFirstFont, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;

    padding: 15px;
}

.location_text .location_text2{
    width: 293.64px;
    height: 25px;
    top: 472px;
    left: 1160px;
    font-family: myFirstFont, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    padding: 15px;
    text-align: left;

}


.location_text .location_text3{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 97px;
    height: 15px;
    top: 522px;
    left: 1259px;
    gap: 5px;
}

.location_text .location_text3 img{
    width: 17.74px;
    height: 15px;

}

footer{
    margin: 71px 198px;
    width: 1602px;
    height: 131px;
    top: 3663px;
    left: 198px;
    display: flex;
    align-items: center;
}



footer .footer_block-first{
    margin-left: 207px;
    margin-top: 57px;
}
footer .footer_block-first .footer_block-first_upper{
    width: 235.29px;
    height: 18px;
    top: 55px;
    left: 208px;
    font-family: Rosario, serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18.18px;
    text-align: left;

    padding-bottom: 3px;
}

footer .footer_block-first .footer_block-first_lower{
    width: 337.42px;
    height: 18px;
    top: 76px;
    left: 207px;
    font-family: Rosario, serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18.18px;
    text-align: left;

}

footer .footer_block-second{

    margin-left: 143px;
    margin-top: 39px;
    align-items: center;
}
footer .footer_block-second img{
    width: 195.24px;
    transform: translateX(-40px);
    height: 45px;
    top: 39px;
    left: 688px;
    angle: -0 deg;

}
footer .footer_block-second .footer_block-second_lower{
    display: flex;
    gap: 10px;
    padding-top: 16px;
    text-align: center;
    justify-content: center;
}

.text2022{
    width: 30.04px;
    height: 5px;
    top: 100px;
    left: 726.91px;

}
footer .footer_block-second .footer_block-second_lower .slogan{
    width: 93.12px;
    height: 18px;
    top: 100px;
    left: 772.97px;
    font-family: Rosario, serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 18.18px;
    text-align: center;

}

.footer_block-third{
    margin-left: 450px;
    gap: 5px;
    margin-top: 66px;

}

.footer_block-third img{
    width: 27px;
    height: 15px;
    padding: 0 5px 0 5px;
}


@media (max-width:1600px){
    .container{
        max-width: 1248px;
        width: 100%;
        margin: 0 auto;
    }

    .header-line{
        margin-top: 43px;
        display: flex;
        align-items: center;
        margin-left: 0;
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        gap:365px;
    }

    .header-type{
        margin-left: 180px;
    }

    .glow-button{
        margin-left: 1050px;
    }

    .day-text{
        font-size: 100px;
        font-weight: 700;
        line-height: 87.1px;
        text-align: center;
        margin-top: 60px;
    }

    .every-day-text{
        margin-top: 20px;
        z-index: 2;
    }

    .this-season{
        max-width: 1248px;
        width: 100%;
        margin: 280px auto 0;
    }

    .season-text-bg {

        word-break: break-word;
        font-size: 180px;
        font-weight: 700;
        line-height: 160px;
        text-align: left;
    }

    .season-text{
        font-size: 100px;
        font-weight: 400;
        line-height: 100px;
        text-align: left;
        word-break: break-word;
        hyphens: manual;
        max-width: 679px;
    }

    .post{
        margin-left: 0;
    }

    .text_2{
        margin-left: 830px;
    }

    .glow-button_2{
        left: 900px;
    }

    .arrow{
        left: 0;
    }
    .arrow_2{
        left:215px;
    }

    .line{
        left:0;
        z-index: 2;
    }

    .actual .season-text-bg{
        font-size: 180px;
        font-weight: 700;
        line-height: 160px;
        text-align: right;
        max-width: 1248px;
        margin-left: 190px;
    }

    .actual .season-text{
        font-size: 100px;
        font-weight: 400;
        line-height: 100px;
        text-align: right;
        margin-left: 820px;
    }

    .img_catalog{
        margin-left: 172px;
    }

    .next_check{
        margin-left: 50px;
        padding: 55px 200px 50px 0;
    }

    .location .season-text{
        max-width: 1248px;
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        text-align: left;

    }

    .location .season-text-bg{
        font-size: 160px;
        font-weight: 700;
        line-height: 160px;
        text-align: left;

    }

    .location_main img{
        max-width: 834px;
        max-height: 425px;
    }

    footer{
        margin-top: 0;
    }

    footer .footer_block-first{
        margin-left: 0;
    }

    footer .footer_block-third{
        margin-left: 350px;
    }
}

@media (max-width:800px){

    .header-line{
        padding-top: 0;
    }

    .header-logo{
        display: none;
    }

    .nav{
        margin-left: 100px;
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        text-align: center;
    }

    .nav ul a{
        font-size: 20px;
        font-weight: 400;
        line-height: 12px;
        text-align: center;
    }

    .header-type ul a{
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
    }

    .day-text-bg{
        font-size: 80px;
        font-weight: 700;
        line-height: 69.68px;
        text-align: center;

    }

    .day-text{
        margin-top: 15px;
        font-size: 60px;
        font-weight: 700;
        line-height: 52.26px;
        text-align: center;
    }

    .every-day-text{
        margin-top: 58px;
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;

    }

    .header-links{
        display: none;
    }

    .every-day .header-links{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }

    .buttons{
        margin-top: 50px;
    }

    .glow-button{
        margin-left: 0;
    }

    .season-texts{
        margin-left: 69px;
    }

    .season-text-bg{
        font-size: 90px;
        font-weight: 700;
        line-height: 140px;
        text-align: left;
        max-width: 798px;
    }

    .season-text{
        font-size: 80px;
        font-weight: 400;
        line-height: 80px;
        text-align: left;
    }

    .post{
        max-width: 800px;
        max-height: 495px;
    }

    .glow-button_2{
        display: none;
    }

    .text_2{
        display: none;
    }

    .arrow{
        top: 424px;
    }

    .arrow_2{
        top: 437px;
    }

    .line{
        display: none;
        align-items: center;
        top: 470px;
        max-height: 800px;
        right: 0;
    }

    .actual .season-texts{
        max-width: 800px;
    }

    .actual .season-text-bg{
        font-size: 80px;
        font-weight: 700;
        line-height: 160px;
        text-align: right;
        margin-left: 0;
    }

    .actual .season-text{
        font-size: 100px;
        font-weight: 400;
        line-height: 100px;
        text-align: right;
        margin-left: 137px;
    }

    .img_catalog{
        margin-left: 107px;
    }

    .block-no{
        display: none;
    }

    .next_check{
        display: none;
    }

    .location .season-texts{
        margin-left: 0;
    }

    .location .season-text-bg{
        font-size: 100px;
        font-weight: 700;
        line-height: 160px;
        text-align: left;
    }

    .location .season-text{
        font-size: 70px;
        font-weight: 400;
        line-height: 70px;
        text-align: left;
        margin-left: 72px;
        max-width: 679px;
    }

    .location_main{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .location img{
        width: 800px;
        height: 425px;
    }

    .location_text{
        margin-left: 218px;
    }

    footer{
        margin-left: 0;
        padding-left: 0;
        max-width: 800px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .footer_block-second{
        margin-left: 0;
        margin-top: 0;
    }

    footer .footer_block-third{
        margin-left: 0;
        margin-top: 0;
    }

}

@media(max-width: 428px){
    .three{
        display: flex;
        align-items: center;
        gap: 199px;
    }

    .nav{
        margin-left: 25px;
        margin-top: 21px;
    }

    .nav ul{
        display: none;
    }

    .every-day .header-links{
        display: none;
    }

    .header-type{
        display: none;
    }

    .three .header-links{
        display: block;
    }

    .this-season .season-texts{
        max-width: 428px;
    }

    .this-season .season-text-bg{
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        text-align: left;

    }

    .this-season .season-text{
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        text-align: left;
    }

    .post{
        max-width: 428px;
        max-height: 495px;
    }

    .actual .season-texts{
        max-width: 428px;
        margin-left: 0;
    }

    .actual .season-text-bg{
        font-size: 80px;
        font-weight: 700;
        line-height: 60px;
        text-align: right;
    }

    .actual .season-text{
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        text-align: right;
    }

    .img_catalog{
        margin-left: 26px;
    }

    .location .season-texts{
        max-width: 428px;
    }

    .location .season-text-bg{
        display: none;
    }

    .location .season-text{
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        text-align: left;
        margin-left: 0;
    }

    .location_main img{
        max-width: 428px;
        max-height: 367px;
    }

    .location_text{
        margin: 0 100px;
    }

    footer{
        max-width: 428px;
        padding-top: 50px;
    }

    footer .
}