*{
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	background: #F7F6FF;
	font-family: Inter, serif;
}
a{
	text-decoration: none;
	transition: all 0.5s ease-in-out
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
	padding-top: 40px;
	margin-bottom: 70px;
}
.container{
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
}
.header__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__wrapper-left{
	display: flex;
	align-items: center;
}
.header__wrapper-nav ul{
	display: flex;
	align-items: center;
	gap: 24px;
}
.header__wrapper-buttons{
	display: flex;
	align-items: center;
	gap: 11px;
}
.header__wrapper-logo{
	margin-right: 7px;
}
.header__wrapper-logo-text{
	margin-right: 63px;
	font-size: 26px;
	width: 65px;
	height: 21px;
}
.header__wrapper-nav a{
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 15px;
}
.header__wrapper-nav a:hover{
	color: #1d9fbf;
}
.header__wrapper-button-grey{
	color: #0070A0;

	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding: 40px 12px;
}
.header__wrapper-button-green{
	color: white;
	background: #0070A0;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	padding: 7px 20px;
}

.header__wrapper-button-grey:hover{
	color: #61dafb;
}

.header__wrapper-button-green:hover{
	background-color: #1d9fbf;
}
