*{
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	background: #F7F6FF;
	font-family: Inter, serif;
}
a{
	text-decoration: none;
	transition: all 0.5s ease-in-out
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
	padding-top: 40px;
	margin-bottom: 70px;
}
.container{
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
}
.header__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__wrapper-left{
	display: flex;
	align-items: center;
}
.header__wrapper-nav ul{
	display: flex;
	align-items: center;
	gap: 24px;
}
.header__wrapper-buttons{
	display: flex;
	align-items: center;
	gap: 11px;
}
.header__wrapper-logo{
	margin-right: 7px;
}
.header__wrapper-logo-text{
	margin-right: 63px;
	font-size: 26px;
	width: 65px;
	height: 21px;
}
.header__wrapper-nav a{
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 15px;
}
.header__wrapper-nav a:hover{
	color: #1d9fbf;
}
.learn-more{
	color: #0070A0;

	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.book-demo{
	color: white;
	background: #0070A0;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	padding: 7px 20px;
}

.learn-more:hover{
	color: #61dafb;
}

.book-demo:hover{
	background-color: #1d9fbf;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px;
}

.hero-text {
	max-width: 50%;
}

.hero-text h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.hero-text p {
	font-size: 1.2rem;
	margin-bottom: 30px;
}

.buttons {
	display: flex;
	gap: 20px;
}

.hero-image img {
	width: 300px;
	max-width: 100%;
}

.trusted {
	text-align: center;
	padding: 50px 0;
}

.trusted .logos {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 20px;
}


.features {
	display: flex;
	padding: 80px;
	gap:30px;
}

.feature-image{
	width: 60px;
}

.feature-card {
	width: 30%;
	background-color: #fff;
	padding: 30px;
}

.feature-card:nth-child(1) {
	background-color: #ffeb3b;
}

.feature-card:nth-child(2) {
	background-color: #b3e5fc;
}

.feature-card:nth-child(3) {
	background-color: #ffcdd2;
}

.info {
	display: flex;
	text-align: center;
	padding: 80px;
}

.info-cards {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}

.info-card {
	width: 30%;
	text-align: left;
}

.info-card h4 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.images{
	width: 124px;
}
